p {
  color: navy;
}

p.info {
  font-size: small;
  background-color: #dfdfdf;
}

h1 {
  color: white;
  text-shadow: 3px 3px 6px navy;
}

h2 {
  font-family: cursive;
  color: #3f3faf;
  background: linear-gradient(to right, rgb(255, 255, 255), #ffefaf);
}

div#zentai {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  width: 1024px;
}

div#zentai > div {
  background-color: #ffefaf;
  padding: 5px;
}

img {
  float: right;
}
